# Environment variables
.env
.env.local

# Executables and OS files
*.exe
*.dll
*.so
*.dylib
.DS_Store
Thumbs.db

# Go build artifacts
/bin/
/dist/
*.out

# Node & Frontend dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo & Mobile build artifacts
.expo/
mobile/dist/
mobile/.expo/
mobile/web-build/
*.hbc
*.map

# Editor settings
.vscode/
.idea/
*.swp
